@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333;
  background-color: #fff;
}

/* Page-index */

/* Header */
.page-header {
  background-color: #fff;
  color: #000000;
}

.header-link {
  background-color: #756157;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Nav */
.navigation-list,
.navigation-user {
  list-style: none;
}

/* Link */
.navigation-link,
.navigation-user-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  text-align: center;
}

/* Hero */
.hero {
  background-image: url(../images/index-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin-bottom: 15px;
}

.advantages-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
  margin-bottom: 70px;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages-item {
  display: flex;
  width: 100%;
  min-height: 385px;
}

.advantages-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

.advantages-light-blue h3,
.advantages-light h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.advantages-light-blue,
.advantages-light {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-light-blue p,
.advantages-light p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
}

.img-advantages {
  width: 100%;
  object-fit: cover;
  min-height: 385px;
}

/* Цветовые схемы */
.advantages-blue {
  background-color: #82b3d3;
}

.advantages-light {
  background-color: #f0f6fa;
}

.advantages-light-blue {
  background-color: #e6f0f6;
}

/* Первый ряд - карточка, потом фото */
.advantages-item:nth-child(1) {
  flex-direction: row;
}

/* Второй ряд - 3 карточки */
.advantages-row {
  display: flex;
  flex-direction: row;
}

.advantages-row .advantages-item {
  flex-direction: column;
  text-align: center;
}

/* Третий ряд - фото, потом карточка */
.advantages-item:nth-child(5) {
  flex-direction: row-reverse;
}

/* Services */

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.services-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.service-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.service-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
}
.services-list {
  list-style: none;
}

.img-service {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* serivice-item-color */
.light-blue {
  background-color: #f0f6fa;
}

.light {
  background-color: #fff;
}

/* Search */

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.search-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.search-button {
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 300px;
  border-radius: 4px;
  background-color: #756157;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.search-button {
  text-align: center;
  margin: 0 auto;
}

/* Subscribe */

.subscribe {
  width: 100%;
  min-height: 414px;
  color: #fff;
  background-color: #fff;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  align-items: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  border-radius: 4px 0 0 4px;
  padding: 8px 50px;
  width: 232px;
  height: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  opacity: 0.6;
  color: #000;
  outline: 0;
  border: 0;
}

.subcribe-button {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  background-color: #82b3d3;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
/* Footer */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #000;
}

.footer-social {
  margin-bottom: 10px;
  display: flex;
}

.footer-social-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-social-item {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-social-item a,
.footer-contacts-phone,
.htmlacademy-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.footer-contacts {
  margin-bottom: 10px;
}

.footer-contacts-link {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.about-text {
  text-align: center;
}

/* End-page-index */

/*===================*/

/* Page-catalog */

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}

.filters-heading {
  color: #fff;
  background-color: #fff;
  background-image: url(../images/filters.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

.catalog-filters-group,
.catalog-filter-group {
  flex: 1;
  min-width: 200px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price-range-controls {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 60px 0;
  align-items: center;
  text-align: center;
}

.catalog-filter-submit,
.catalog-filter-reset {
  width: 100%;
}

.catalog-filter-submit {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  color: #fff;
  background-color: #82b3d3;
  border: 0;
}

.catalog-filter-reset {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  color: #fff;
  background-color: transparent;
  border: 0;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.catalog-products-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  text-align: center;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.view-buttons {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.view-button {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.section {
  width: 100%;
  display: flex;
}

.hotel-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
}

.hotel-card {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e5e5e5;
  width: 340px;
  padding: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.hotel-card-image {
  width: 100%;
  height: 212px;
  object-fit: cover;
  display: block;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel-card-meta {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin: 10px 0;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-price-value {
  font-size: 1.1rem;
  color: #333;
}

.hotel-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  margin: 15px 0;
  gap: 20px;
}

.hotel-card-button {
  background: #756157;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
}

.add-favorite-hotel {
  background: none;
  background-color: #82b3d3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 0;
}

.add-favorite-hotel.active {
  background: #70a347;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.star-rating {
  color: #83b3d3;
  font-size: 22px;
}

.rating-value {
  border-radius: 4px;
  padding: 8px 22px;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}

.rating-value span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}

/* Стили для разных видов отображения */
.list-view .hotel-list {
  grid-template-columns: 1fr;
}

.list-view .hotel-card {
  flex-direction: row;
}

.list-view .hotel-card-image {
  width: 280px;
  height: auto;
}

.card-view .hotel-list {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.divider {
  padding-bottom: 40px 0;
  border: 1px solid #e6e6e6;
  width: 1590px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.pagination-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: flex;
}

.pagination-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 50px;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  background-color: #f2f2f2;
  text-decoration: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 50px;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #82b3d3;
  text-decoration: none;
}

.subscribe-catalog {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.subscribe-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.subscribe-text-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.field-catalog {
  border-radius: 4px 0 0 4px;
  padding: 8px 50px;
  width: 232px;
  height: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  opacity: 0.6;
  color: #000;
  outline: 0;
  border: 0;
}

.subcribe-button-catalog {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  background-color: #82b3d3;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
