@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333;
  background-color: #fff;
}

/* Header */
.page-header {
  background-color: #fff;
  color: #000000;
}

.header-link {
  background-color: #756157;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Nav */
.navigation-list,
.navigation-user {
  list-style: none;
}

/* Link */
.navigation-link,
.navigation-user-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  text-align: center;
}

/* Hero */
.hero {
  color: #fff;
  background-color: #fff;
  background-image: url(../images/index-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

/* Advantages */
.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.advantages-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.advantages-list {
  list-style: none;
}

.img-advantages {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

/* color-section-advantages  */
.advantages-blue {
  background-color: #82b3d3;
}

.advantages-light {
  background-color: #f0f6fa;
}

.advantages-light-blue {
  background-color: #dde7ec;
}

/* Services */

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.services-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.service-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.service-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
}
.services-list {
  list-style: none;
}

.img-service {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* serivice-item-color */
.light-blue {
  background-color: #f0f6fa;
}

.light {
  background-color: #fff;
}

/* Search */

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.search-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.search-button {
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 300px;
  border-radius: 4px;
  background-color: #756157;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.search-button {
  text-align: center;
  margin: 0 auto;
}

/* Subscribe */

.subscribe {
  color: #fff;
  background-color: #fff;
  background-image: url(../images/subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.subscribe-form {
  text-align: center;
}

.subscribe-form input {
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-form input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #616161;
  opacity: 0.6;
  text-align: center;
}

.subcribe-button {
  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
/* Footer */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #000;
}

.footer-social {
  margin-bottom: 10px;
  display: flex;
}

.footer-social-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-social-item {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-social-item a,
.footer-contacts-phone,
.htmlacademy-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.footer-contacts {
  margin-bottom: 10px;
}

.footer-contacts-link {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.about-text {
  text-align: center;
}
