@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
}

/* Pages */

.page-header {
  color: #000;
  background-color: #fff;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

.main-index {
  color: #000;
  background-color: #fff;
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-lead {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.advantages-paragraph {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

/* Index columns */
.index-columns {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #82b3d3;
  background-image: url("../images/bg-noisy.png");
}

/* Services*/

.services {
  text-transform: uppercase;
}

/* Title */
.services-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000;
}

.services-lead {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000;
}
